extends Layout/index.pug

block content
  .row
    .col-lg-12
      .card.card-chart(style="width:max-content;display:block;margin-left:auto;;margin-right:auto")
        .card-body(style="display:block;margin:auto")
          img(src="/assets/img/logo.png" alt="Logo" style="width: 80%;display: block;margin: auto;")