extends Layout/index.pug

block content
    .row
        .col-xl-12.col-lg-12.col-md-12.col-sm-12
            // Page Heading
            .card.mb-4.border-left-success
                .card-body
                    .d-sm-flex.align-items-center.justify-content-between
                        h1.my-1.h3.text-gray-800 Upload Questions
    .card.shadow.mb-4
        .card-header.py-3
            h6.m-0.font-weight-bold.text-primary Upload Questions
        .card-body
            .justify-content-center.align-items-center.d-flex
                form.needs-validation(method='post' action='/quiz/quiz_categories/new' enctype='multipart/form-data')
                    .form-row
                        .col-md-12.col-lg-12.col-sm-12.mb-3(style='padding: 0;')
                            if(name)
                                input.form-control(type='text' placeholder='Quiz Category Name' value=name  name='name' autofocus style="margin:12px")
                            else
                                input.form-control(type='text' placeholder='Quiz Category Name' value=''  name='name' autofocus style="margin:12px")
                            input.form-control(type='file' placeholder='Upload Questions Category Image' value=''  name='image' style="margin:12px")
                            input.form-control(type='file' placeholder='Upload Questions CSV' value='' name='csv_file' style="margin:12px")
                    button.btn.btn-primary(type='submit') Upload CSV

block script
    if success
      script.
        const _success = "#{success}";
        console.log(_success)
        md.showNotification('top','right',_success,'success')
    if error
      script.
        const _error = "#{error}";
        console.log(_error)
        md.showNotification('top','right',_error,'danger')