footer.footer
    .container-fluid
        nav.float-left
            ul
                li
                    a(href='/')  Kaosity 
                li
                    a(href='#')  About Us 
                li